.header{
    color: #e05050;
    margin-top: 10px;
    text-align: center;
}
.container{
    width: 100vw ;
    height: 80vw;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.col1{
    background-color: bisque;
    margin: 1px;
    flex-direction: column;
    display: flex;
    flex: 2;
}
.col2{
    background-color:chocolate;
    margin: 1px;
    margin-left: 5px;
    flex-direction: column;
    display: flex;
    flex: 10;
}
.rowi3{
    background-color: blueviolet;
    height: 100%;
}
.rowi4{
    background-color:darkkhaki;
    height: 100%;
}
.coli1{
    height: 300px;
    background-color: rgb(233, 236, 243);
    flex: 6;
}
