.container{
    background-color: rgb(244, 219, 188);
    width: 35%;
    margin-top: 10%;
    margin-left: 35%;
    display: inline-block;
}
.row{
    border: 1px dotted red;
    border-radius: 15px;
    margin: 10px;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
}
label{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
input{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
}
.xc{
    justify-content: center;
}
.xr{
    justify-content: flex-end;
}
.btn-new{
    background-color: darkred;
    margin: 5px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: bisque;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}
.btn-new:hover{
    background-color: rgb(237, 96, 55);
    border: 1px solid rgb(241, 152, 43);
    color: khaki;
}
.row.xc {
    display: flex; /* Flexbox'ı etkinleştirir */
    justify-content: space-between; /* Öğeleri yatay eksende arala */
    margin-bottom: 10px; /* Alttan boşluk ekle (isteğe bağlı) */
  }
