.container{
    display: flex;
    width: 40%;
    margin-left: 40%;
    height: 800px;
    border: 1px solid saddlebrown;
    border-radius: 15px;
    flex-direction: column;
}
.form-element{
    border: 1px dotted green;
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}
.button{
    justify-content:space-between;
    border-radius: 6px;
}
