.container{
    display: flex;
    width: 24%;
    margin-left: 40%;
    height: 600px;
    border: 1px solid saddlebrown;
    border-radius: 15px;
    flex-direction: column;
}
.form-image{
    border: 1px dotted green;
    display: flex;
    flex: 5;
}
.form-element{
    border: 1px dotted green;
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}
.form-button{
    border: 1px dotted green;
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: end;
    padding: 15px;
}
img{
    border-radius: 100%;
    width: 90%;
    height: 90%;
}
.xy-center{
    align-items: center;
    justify-content: center;
}
label{
    margin-bottom: 5px;
}
input{
    padding: 5px;
    border-radius: 6px;
}
button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
}
